/* 
  This code is made responsive untill the screen-width goes bellow 320px 
  See this article why: https://uxpickle.com/what-is-the-smallest-screen-size-you-should-design-for/
*/

:root {
  --secondary-blue: rgba(11, 124, 187, 1);
  --primary-blue: rgba(13, 44, 84, 1);
  --light-blue: rgba(129, 208, 239, 1);
  --dark-blue-faded: rgba(0, 49, 79, 0.65);
  --yellow: rgba(255, 222, 0, 1);
  --red: rgba(216, 63, 39, 1);
  --light-gray: rgba(244, 244, 244, 1);
  --darker-gray: rgba(230, 230, 230, 1);
  --dark-gray: rgba(52, 58, 64, 1);
}

body {
  margin: 0 auto;
  background-color: var(--primary-blue);
  height: 100%;
}

nav.navbar {
  height: 75px;
  background-color: var(--primary-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-logo:hover img {
  filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(120deg);
}

.nav-logo:hover span {
  color: var(--light-blue);
}

.nav-logo img {
  display: inline-block;
  margin-left: 3em;
  height: 100%;
  width: auto;
  filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(120deg) brightness(2) contrast(2);
}

.nav-logo span {
  font-size: 2em;
  color: var(--yellow);
  font-weight: 600;
  margin-left: 0.25em;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 3em;
}

.nav-links li {
  margin-right: 1em;
}

.nav-links a {
  color: var(--yellow);
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--light-blue);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-image: linear-gradient(to bottom, var(--dark-blue-faded), var(--dark-blue-faded)), url("../images/landing-page.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 400px;
}

.header h1 {
  text-align: center;
  color: var(--light-gray);
  font-size: 4.5em;
}

.header p {
  text-align: center;
  color: var(--darker-gray);
  font-size: 30px;
}

section.practical-info {
  margin: 3em 2em 0em 2em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-cards {
  padding: 2em;
  display: flex;
  gap: 20px;
}

.article-card {
  padding: 1em 2em;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
  /* Add this line */
}

.article-card h3 {
  margin-top: 0.5em;
  font-weight: 600;
}

.article-card p {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* Breaking point for the nav logo text */
@media screen and (max-width: 610px) {
  .nav-logo span {
    display: none;
  }

  .nav-logo img {
    margin-left: 0.5em;
  }

  .nav-links {
    margin-right: 0.5em;
  }

  .header h1 {
    font-size: 2.25em;
  }
  .header p {
    font-size: 1.25em;
    margin: 0em 1em;
  }
}

/* Styles for tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header h1 {
    font-size: 3.5em;
  }

  .nav-logo img {
    margin-left: 1.5em;
  }

  .nav-links {
    margin-right: 1.5em;
  }
}
